/BackEnd/ContactAppBackend/.vs/ContactAppBackend
/BackEnd/ContactAppBackend/bin/Debug/net8.0
/BackEnd/ContactAppBackend/obj

/FrontEnd/ContactAppBackend/.vscode


# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/FrontEnd/ContactAppBackend/dist
/FrontEnd/ContactAppBackend/tmp
/FrontEnd/ContactAppBackend/out-tsc
/FrontEnd/ContactAppBackend/bazel-out

# Node
/FrontEnd/ContactAppBackend/node_modules
/FrontEnd/ContactAppBackend/npm-debug.log
/FrontEnd/ContactAppBackend/yarn-error.log

# IDEs and editors
/FrontEnd/ContactAppBackend/.idea/
/FrontEnd/ContactAppBackend/.project
/FrontEnd/ContactAppBackend/.classpath
/FrontEnd/ContactAppBackend/.c9/
/FrontEnd/ContactAppBackend/*.launch
/FrontEnd/ContactAppBackend/.settings/
/FrontEnd/ContactAppBackend/*.sublime-workspace

# Visual Studio Code
/FrontEnd/ContactAppBackend/.vscode/*
/FrontEnd/ContactAppBackend/.vscode
/FrontEnd/ContactAppBackend/!.vscode/settings.json
/FrontEnd/ContactAppBackend/!.vscode/tasks.json
/FrontEnd/ContactAppBackend/!.vscode/launch.json
/FrontEnd/ContactAppBackend/!.vscode/extensions.json
/FrontEnd/ContactAppBackend/.history/*

# Miscellaneous
/FrontEnd/ContactAppBackend/.angular/cache
/FrontEnd/ContactAppBackend/.sass-cache/
/FrontEnd/ContactAppBackend/connect.lock
/FrontEnd/ContactAppBackend/coverage
/FrontEnd/ContactAppBackend/libpeerconnection.log
/FrontEnd/ContactAppBackend/testem.log
/FrontEnd/ContactAppBackend/typings

# System files
/FrontEnd/ContactAppBackend/.DS_Store
/FrontEnd/ContactAppBackend/Thumbs.db
/BackEnd/ContactAppBackend/.vs/ProjectEvaluation
/.vscode
/FrontEnd/ContactAppBackend/.vscode


# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
